/********** General **************/

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.error-404 {
  background-color: #1da1f2;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
}

/*************** Nav Bar ***************/

.navbar {
  background-color: RGB(125, 120, 163);
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  /* margin-bottom: 1rem; */
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #f1b2ac;
  font-size: 13px;
  /* font-weight: bold; */
}

.navbar a:hover {
  color: #fff;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-left: 10px;
  height: 46px;
  border-radius: 2px;
}

.nav > li > a > img {
  width: 32px;
  border-radius: 32px;
}

ul.nav.navbar-nav {
  align-items: center;
  margin-right: 15%;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

nav form.navbar-form {
  display: flex;
  position: relative;
}

#search.form-control {
  border-radius: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 13px;
  padding-right: 28px;
  box-sizing: border-box;
}

#search.form-control + .btn {
  position: absolute;
  right: 9px;
  top: 2px;
  bottom: 4px;
  z-index: 1;
  padding: 0;
  color: #66757f;
}

#search.form-control + .btn:active,
#search.form-control + .btn:focus {
  box-shadow: none;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 2px solid #007bff;
}

h1 {
  color: #a29cbb;
  font-size: 1.1em;
}

#firsth1 {
  margin-top: 15px;
}

/****************** hamburger menu  *************/

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a,
button {
  cursor: pointer;
}

/* #hamburger-nav {
  position: relative;
  top: 100px;
  right: 50px;
  width: 250px;
} */

.navigation {
  position: fixed;
  right: -500px;
  top: 6.3%;
  width: 15%;
  height: 100%;
  background-color: #dfe5f2;
  transition: 0.5s;
  text-align: center;
  opacity: 70%;
}

.navigation p {
  margin-top: 15px;
  margin-bottom: 0;
  color: #7d78a3;
}

.navigation ul li {
  text-align: center;
  list-style-type: none;

  padding: 10px 20px;
}

.navigation ul li a {
  text-decoration: none;
  /* font-size: 1.2em; */
  border-bottom: solid black 0.5px;
  padding-bottom: 5px;
  color: #336e8c;
}

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 3%;
  left: 95%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  opacity: 70%;
  top: 3px;
  background: #000;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  right: 0;
}

.hamburger.open #bar1 {
  opacity: 70%;
  background-color: black;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: black;
  opacity: 70%;
  transform: rotate(-45deg) translate(6px, -5px);
}

/* .onboarding > .navbar {
  background-image: url("/static/images/nav-bg.png");
  background-size: 100% 100%;
}


.onboarding .navbar-header {
  margin: 0 auto;
}

.onboarding .navbar-brand {
  margin: 0;
}

.onboarding .navbar-brand span {
  display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 16px;
}

.onboarding > .navbar a {
  color: #fff;
}

.onboarding > .navbar form.navbar-form {
  display: none;
}

.onboarding {
  background-color: #fff;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}

nav + .container {
  margin-bottom: 1rem;
} */

/*************** Carousel CSS **************/

#currExpensive {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#TCGCarousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
}

.carousel-inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards-wrapper {
  display: flex;
}

.card {
  margin: 0.5em;
  width: calc(100% / 3);
}

.card-title {
  color: #7d78a3;
}

.card-text {
  font-size: 0.8em;
}

.card-body {
  line-height: 0.8em;
}

.fw-light {
  font-size: 0.5em;
}

/******************* footer ********************/

footer {
  margin-top: auto;
  text-align: center;
}

footer hr {
  width: 20%;
  opacity: 20%;
  margin: 40px auto 0;
}

footer p {
  margin-top: 10px;
  font-size: 0.75em;
  opacity: 70%;
}
