{% extends 'base.html' %} {% block content %}

<!-- ****************Carousel for Expensive Cards***************** -->

<h1 id="firsth1">Most Expensive Cards from Current Set</h1>
<div
  id="currExpensive"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="cara-card"><a href="/cards/{{cards[0].id}}"><img
          src="{{cards[0].images.small}}"
          class="card-img-top"
          alt="{{cards[0].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[0].name}}</h5>
            <p class="card-text">{{cards[0].set.name}}</p>
            <p class="card-text">${{cards[0].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[0].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{cards[1].id}}"><img
          src="{{cards[1].images.small}}"
          class="card-img-top"
          alt="{{cards[1].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[1].name}}</h5>
            <p class="card-text">{{cards[1].set.name}}</p>
            <p class="card-text">${{cards[1].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[1].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{cards[2].id}}"><img
          src="{{cards[2].images.small}}"
          class="card-img-top"
          alt="{{cards[2].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[2].name}}</h5>
            <p class="card-text">{{cards[2].set.name}}</p>
            <p class="card-text">${{cards[2].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[2].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="cara-card"><a href="/cards/{{cards[3].id}}"><img
          src="{{cards[3].images.small}}"
          class="card-img-top"
          alt="{{cards[3].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[3].name}}</h5>
            <p class="card-text">{{cards[3].set.name}}</p>
            <p class="card-text">${{cards[3].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[3].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{cards[4].id}}"><img
          src="{{cards[4].images.small}}"
          class="card-img-top"
          alt="{{cards[4].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">C{{cards[4].name}}</h5>
            <p class="card-text">{{cards[4].set.name}}</p>
            <p class="card-text">${{cards[4].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[4].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{cards[5].id}}"><img
          src="{{cards[5].images.small}}"
          class="card-img-top"
          alt="{{cards[5].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[5].name}}</h5>
            <p class="card-text">{{cards[5].set.name}}</p>
            <p class="card-text">${{cards[5].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[5].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="cara-card"><a href="/cards/{{cards[6].id}}"><img
          src="{{cards[6].images.small}}"
          class="card-img-top"
          alt="{{cards[6].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[6].name}}</h5>
            <p class="card-text">{{cards[6].set.name}}</p>
            <p class="card-text">${{cards[6].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[6].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{cards[7].id}}"><img
          src="{{cards[7].images.small}}"
          class="card-img-top"
          alt="{{cards[7].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[7].name}}</h5>
            <p class="card-text">{{cards[7].set.name}}</p>
            <p class="card-text">${{cards[7].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[7].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{cards[8].id}}"><img
          src="{{cards[8].images.small}}"
          class="card-img-top"
          alt="{{cards[8].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{cards[8].name}}</h5>
            <p class="card-text">{{cards[8].set.name}}</p>
            <p class="card-text">${{cards[8].tcgplayer.prices.holofoil.mid}}</p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{cards[8].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#currExpensive"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#currExpensive"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br />
<hr />
<br />

<!-- ****************Carousel for TCGPlayer Cards***************** -->

<h1>Current Most Expensive Cards TCGPlayer</h1>
<div id="TCGCarousel" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="cara-card"><a href="/cards/{{exp_cards[0].id}}"><img
          src="{{exp_cards[0].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[0].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[0].name}}</h5>
            <p class="card-text">{{exp_cards[0].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[0].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[0].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{exp_cards[1].id}}"><img
          src="{{exp_cards[1].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[1].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[1].name}}</h5>
            <p class="card-text">{{exp_cards[1].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[1].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[1].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{exp_cards[2].id}}"><img
          src="{{exp_cards[2].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[2].name}}"/>
        </a>          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[2].name}}</h5>
            <p class="card-text">{{exp_cards[2].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[2].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[2].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="cara-card"><a href="/cards/{{exp_cards[3].id}}"><img
          src="{{exp_cards[3].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[3].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[3].name}}</h5>
            <p class="card-text">{{exp_cards[3].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[3].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[3].tcgplayer.updatedAt}}
            </p>
           
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{exp_cards[4].id}}"><img
          src="{{exp_cards[4].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[4].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">C{{exp_cards[4].name}}</h5>
            <p class="card-text">{{exp_cards[4].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[4].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[4].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{exp_cards[5].id}}"><img
          src="{{exp_cards[5].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[5].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[5].name}}</h5>
            <p class="card-text">{{exp_cards[5].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[5].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[5].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="cara-card"><a href="/cards/{{exp_cards[6].id}}"><img
          src="{{exp_cards[6].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[6].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[6].name}}</h5>
            <p class="card-text">{{exp_cards[6].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[6].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[6].tcgplayer.updatedAt}}
            </p>
            
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{exp_cards[7].id}}"><img
          src="{{exp_cards[7].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[7].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[7].name}}</h5>
            <p class="card-text">{{exp_cards[7].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[7].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[7].tcgplayer.updatedAt}}
            </p>
           
          </div>
        </div>
        <div class="cara-card"><a href="/cards/{{exp_cards[8].id}}"><img
          src="{{exp_cards[8].images.small}}"
          class="card-img-top"
          alt="{{exp_cards[8].name}}"
        /></a>
          
          <div class="card-body">
            <h5 class="card-title">{{exp_cards[8].name}}</h5>
            <p class="card-text">{{exp_cards[8].set.name}}</p>
            <p class="card-text">
              ${{exp_cards[8].tcgplayer.prices.holofoil.mid}}
            </p>
            <p class="card-text fw-light">
              TCGPlayer price Updated On:{{exp_cards[8].tcgplayer.updatedAt}}
            </p>
           
          </div>
        </div>
      </div>
    </div>

   
  </div>
  <button
  class="carousel-control-prev"
  type="button"
  data-bs-target="#TCGCarousel"
  data-bs-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button
  class="carousel-control-next"
  type="button"
  data-bs-target="#TCGCarousel"
  data-bs-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

  {% endblock %}

